#!/usr/bin/make -f

# Check if debhelper supports meson (> v10.3), otherwise fall back to CMake
supportsmeson=x$(shell dh_auto_clean --list | grep -q '^meson\>' && echo yes)
ifeq ($(supportsmeson),xyes)
	BUILDSYSTEM=meson
else
	BUILDSYSTEM=cmake
endif

export QT_SELECT=qt5

%:
	$(info Using buildsystem $(BUILDSYSTEM).)
	dh $@ --buildsystem=${BUILDSYSTEM}
